<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <% categories.forEach(record => { %>
        <h1><%= record.title %> </h1>
        <h2><%= record.author %> </h2>
        <h3>body: <%= record.body %> </h3>
        <% if (record.imageurl) { %> 
            <img src="<%= record.imageurl %>" height='200px'>
            <% } else { %>
                <img src="https://webhostingmedia.net/wp-content/uploads/2018/01/http-error-404-not-found.png" height='200px' alt="">
                <% } %>
    <% }) %>
    
</body>
</html>