<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Blogs Pages
    <form action='/editblogs' method = "POST">
        <select name="" id="">
        
    <% categories.forEach(record => { %>
        <option value="<%= record.id %> "> <%= record.title %> </option>
    <% }) %>
        </select>
        title: <input type="text" name="title"><br>
        author: <input type="text" name="author"><br>
        body: <input type="text" name="body"><br>
        imgURL: <input type="text" name="imageurl"><br>

        <button  type="submit" value="submit" name="">Submit</button>
    </form>

</body>
</html>
